In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
# Read Dataset
ds = pd.read_csv("Rainfall.csv")

In [3]:
ds.shape

(366, 12)

In [4]:
ds .info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 366 entries, 0 to 365
Data columns (total 12 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   day                     366 non-null    int64
 1   pressure                366 non-null    float64
 2   maxtemp                 366 non-null    float64
 3   temparature             366 non-null    float64
 4   mintemp                 366 non-null    float64
 5   dewpoint                366 non-null    float64
 6   humidity                366 non-null    int64
 7   cloud                   366 non-null    int64
 8   rainfall                366 non-null    object
 9   sunshine                366 non-null    float64
 10           winddirection  365 non-null    float64
 11  windspeed               365 non-null    float64
dtypes: float64(8), int64(3), object(1)
memory usage: 34.4+ KB

In [5]:
# remove extra  spaces in all columns
ds.columns = ds.columns.str.strip()

In [6]:
ds = ds.drop(columns=["day"])

In [7]:
ds.head()

,pressure,maxtemp,temparature,mintemp,dewpoint,humidity,cloud,rainfall,sunshine,winddirection,windspeed
0,1025.9,19.9,18.3,16.8,13.1,72,49,yes,9.3,80.0,26.3
1,1022.0,21.7,18.9,17.2,15.6,81,83,yes,0.6,50.0,15.3
2,1019.7,20.3,19.3,18.0,18.4,95,91,yes,0.0,40.0,14.2
3,1018.9,22.3,20.6,19.1,18.8,90,88,yes,1.0,50.0,16.9
4,1015.9,21.3,20.7,20.2,19.9,95,81,yes,0.0,40.0,13.7

In [8]:
# checking the number of missing values
print(ds.isnull().sum())

pressure         0
maxtemp          0
temparature      0
mintemp          0
dewpoint         0
humidity         0
cloud            0
rainfall         0
sunshine         0
winddirection    1
windspeed        1
dtype: int64

In [9]:
# handle missing values
ds["winddirection"] = ds["winddirection"].fillna(ds["winddirection"].mode()[0])
ds["windspeed"] = ds["windspeed"].fillna(ds["windspeed"].median())

In [10]:
ds["rainfall"].unique()

array(['yes', 'no'], dtype=object)

In [11]:
# converting the yes & no to 1 and 0 respectively
ds["rainfall"] = ds["rainfall"].map({"yes": 1, "no": 0})

In [12]:
#Data Saved
ds.to_csv("cleaned_data.csv")